# ================================
# DATABASE CONFIGURATION
# ================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_NAME=deeplynx
POSTGRES_DB_HOST=localhost
POSTGRES_PORT=5432

# ================================
# CACHE CONFIGURATION
# ================================
CACHE_PROVIDER_TYPE=memory
REDIS_CONNECTION_STRING=localhost

# ================================
# USER MANAGEMENT CONFIGURATION
# ================================
# This is the first user who will be designated as SysAdmin on this DeepLynx instance
# Once authenticated, this user may bestow other users with SysAdmin privileges
SUPERUSER_EMAIL=admin@admin.com

# ================================
# DUCKDB CONFIGURATION
# ================================
DUCKDB_BASE_PATH=../duckdb/

# ================================
# FILE STORAGE CONFIGURATION
# ================================
# Available options: filesystem, azure_object, aws_s3
FILE_STORAGE_METHOD=filesystem
STORAGE_DIRECTORY=../storage/
RECOMMENDED_CHUNK_SIZE=100000000

# Azure Object Storage (when FILE_STORAGE_METHOD=azure_object)
AZURE_OBJECT_CONNECTION_STRING=azure-example-connection-string

# AWS S3 Storage (when FILE_STORAGE_METHOD=aws_s3)
AWS_S3_CONNECTION_STRING=aws-example-connection-string

# ================================
# EMAIL CONFIGURATION
# ================================
SMTP_SERVER=mailhost.inl.gov
SMTP_PORT=25
SMTP_ENABLE_SSL=false
FROM_EMAIL=no-reply@inl.gov
FROM_NAME=DeepLynx Nexus
INVITE_URL=http://localhost:3000
SUPPORT_EMAIL=jaren.brownlee@inl.gov

# ================================
# OKTA JWT CONFIGURATION
# ================================
JWT_SECRET_KEY=setKeyHere
JWT_ISSUER=issuer
JWT_AUDIENCE=audience

# ================================
# Local Development
# ================================
DISABLE_BACKEND_AUTHENTICATION=false
ENABLE_NOTIFICATION_SERVICE=true

# ================================
# Vital non-code environment variables
# ================================
# these variables are not defined anywhere in the codebase, but are essential
# to run the application. Do not delete them from the kubernetes and docker files.
# DATABASE_CONNECTION_STRING
# NEXTAUTH_DEBUG
# NEXTAUTH_URL
# NEXTAUTH_SECRET