*.bak
*.env
*.log
*.zip
dist
artifacts/


## Mac OS ##
.DS_Store
.idea

## VS Code ##
.vscode

## Visual Studio ##
.vs/
*.user

## Claude Code ##
.claude/

## Web ##
/deeplynx.api/.DS_Store
/deeplynx.api/.idea
/deeplynx.api/bin*
/deeplynx.datalayer/bin*

## Web ##
/**/obj/
/**/bin/

## Test output ##
TestResults/

duckdb

global.json

/storage

.continue
