*.bak
*.env
*.log
*.zip
dist

## Mac OS ##
.DS_Store
.idea

## VS Code ##
.vscode

## Web ##
/deeplynx.api/.DS_Store
/deeplynx.api/.idea

## Web ##
/**/obj/
/**/bin/

deeplynx.sln.DotSettings.user

package-lock.json

duckdb

- global.json

/storage

.continue