# Required, this is the url that the Nexus server is hosted
NEXUS_API_URL=http://localhost:5095/api/v1

# Optional, the server will run on the default URL (0.0.0.0/43656) if no value is assigned
MCP_SERVER_URL=http://localhost:43656

# Required only for python test client
PYTHON_TEST_CLIENT_TOKEN=""